* {
    margin: 0;
    padding: 0;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* shared styles */
.bg-color {
    background: rgba(26, 11, 46, 1);
}

.line {
    border: 1px solid rgb(120, 106, 138);
    margin: 80px 0;

}

.line-1 {
    border: 1px solid rgb(120, 106, 138);
}

.btn-praimary {
    padding: 13px 20px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%, rgba(251, 9, 180, 1) 49.819%, rgba(145, 0, 248, 1) 81.648%);
    border-radius: 32px;
    border: none;
    color: #FFFFFF;
}

.btn-2 {
    padding: 13px 20px;
    border: 1px solid greenyellow;
    border-radius: 32px;
    color: green;
    margin-left: 15px;
    margin-bottom: 100px;
}

.waev_coomon-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16;
    padding: 40px;
    color: #FFFFFF;
    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}

.wave-common-title {
    padding: 20px 0;

}


/* navbar realted styles */
.navbar {
    height: 92px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: 32px;
    list-style: none;

}

.nav-menu a {
    text-decoration: none;
    color: white;
}

.tp-1 {
    color: rgba(255, 255, 255, 1);
    font-size: 2.5rem;
}

.tp-2 {
    font-size: 2.5rem;
    color: rgb(128, 5, 177);

}

.hamburger-menu {
    display: none;
}

/* banner section  */
.hero-container {
    /* border: 2px solid red; */
    height: 905px;
    /* padding-top: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.circle-section {
    /* background-color: red; */
    /* padding: 160px; */
    /* background-image: url(../assets/hero-circle.png); */
    /* background-repeat: no-repeat;
    background-position: center; */
    position: relative;
}

.circle-img {
    width: 402px;
    height: 402px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.microphone {
    position: absolute;
    top: 32%;
    left: 34%;

    /* transform: scale(50%); */
}

.badge {
    position: absolute;
    top: 11%;
    right: 26px;
    background: #00FF88;
    padding: 5px 15px;
    border-radius: 12px;
    color: black;
    font-weight: 700;
}

.hero-title {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}

.hero-description {
    font-weight: 500;
    color: aliceblue;
    margin-bottom: 20px;
}

/* about */
.about-container {
    background-color: rgba(26, 11, 46, 1);

}

.about-content {
    width: 1300px;
    margin: 0 auto;
    text-align: center;
}

.about-title {
    padding-top: 50px;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.abouot-ditels {
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
}

#about-conculation {
    margin-top: 25px;
}

.card-container {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.card-title {
    font-size: 4rem;
    font-weight: 700;
    color: rgba(0, 255, 136, 1);
}

.card-descrpition {
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 50px;
}


/* wave cards  */
.wave-choose {
    background-color: #230E3D;
    padding-bottom: 50px;
    /* height: 680px; */
}

.waev-cards {
    width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    /* box-shadow: 4px 0px 0px 2px; */
}

.wave-card-1 {
    grid-column: span 1;
    grid-row: span 2;
}


.wave-card-2 {
    grid-column: span 2;
    grid-row: span 1;


}




/*  episode rleted style   */

.podcast-section {
    background-color: rgba(26, 11, 46, 1);

}

.pod-title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 2rem;
    color: #FFFFFF;
}

.cards {
    width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.podcast-card {
    background-color: #230E3D;
    border-radius: 32px;
    /* height: 430px;
    width: 380px; */
    /* box-shadow: 0px 4px 4px 0px; */
}

.podcast-card iframe {
    width: 100%;
    /* padding-left: 10px; */
    border-radius: 32px 32px 0px 0px;
    padding-bottom: 20px;
}

.podcsat-title {
    width: 360px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 29px;
    color: rgba(255, 255, 255, 1);
    padding-left: 20px;
    padding-bottom: 15px;
}

.podcast-description {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 24px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.time-sell {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.time-bell {
    font-size: 16px;
    color: rgba(0, 255, 136, 1);
}

/* host releted style   */

.host {

    padding: 50px 240px;
    /* width: 1300px;
    margin: 0 auto; */
    background-color: rgba(26, 11, 46, 1);
}

.host-ditels {
    background-color: #230E3D;
    padding: 30px;
    width: 1300px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 32px;
    /* box-shadow: 4px 0px 0px 4px; */
}

#host-image {
    height: 150px;
    width: 150px;
}

.host-name {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 5px 0;
    color: #FFFFFF;
}

.host-about {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}



.hosts-social {
    height: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
}



/* footer section  */
footer {
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    text-align: center;

}

footer h1 {
    padding-top: 30px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

}

.social a {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: #FFFFFF;
}

footer p {
    color: #FFFFFF;
    margin-top: 32px;
}


@media screen and (max-width:576px) {



    /* nav-bar releted quary  */
    .nav-menu,
    #h-btn {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    /* hero   */
    .circle-img {
        width: 302px;
        height: 302px;
        /* margin-top: 30px;
    margin-bottom: 30px; */
    }

    .microphone {
        position: absolute;
        top: 27%;
        left: 28%;
        /* height: 100px; */

        transform: scale(70%);
    }



    .btn-2 {
        margin-top: 15px;
    }

    /* about  */
    .about-content {
        width: 100%;
    }

    .about-title {
        padding-top: 30px;
    }

    .abouot-ditels,
    .hero-description {
        width: 350px;
        margin: 0 auto;
    }

    .card-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 20px;
    }

    .card-title {
        font-size: 3rem;

    }

    /* weav  */
    /* .wave-choose,
    .about-container,
    .hero-container {
        padding: 15px;
    } */

    .pod-title {
        padding-right: 15px;
    }

    .wave-choose {
        /* width: 100%; */
        padding: 35px;
    }

    .waev-cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* padding-left: 5px; */
    }

    .wave-card-1,
    .wave-card-2,
    .waev_coomon-cards {
        grid-column: span 1;
        width: 310px;
        /* width: 100%; */
        padding: 20px;
    }


    /* podcast */
    .cards {
        /* display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 300px; */
        /* margin: 0 auto; */
        /* gap: 12px; */

        /* justify-items: center; */
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
    }

    .podcast-card {
        height: 430px;
        width: 300px;
    }




    /* host  */
    .host {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;

    }

    .host-ditels {


        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        width: 250px;
        gap: 20px;
        align-items: center;
        border-radius: 32px;
    }


    /* footer  */

    .social {
        display: grid;
        grid-template-columns: repeat(2, 1fr);


    }

    .social a {
        justify-content: center;
    }

}